{{- /*gotype: github.com/Jackob2004/snippetbox/cmd/web.templateData*/ -}}
{{define "title"}}Create a New Snippet{{end}}

{{define "formAction"}}/snippet/create{{end}}

{{define "main"}}
    {{template "snippetForm" .}}
{{end}}