{{- /*gotype: github.com/Jackob2004/snippetbox/cmd/web.templateData*/ -}}
{{define "title"}}Change Password{{end}}

{{define "main"}}
    <h2>Change Password</h2>
    <form action="/account/password/update" method="POST" novalidate>
        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
        <div>
            {{with .Form.FieldErrors.current_password}}
                <label class="error">{{.}}</label>
            {{end}}
            <label for="current_password">Current Password:</label>
            <input type="password" name="current_password" id="current_password">
        </div>
        <div>
            {{with .Form.FieldErrors.new_password}}
                <label class="error">{{.}}</label>
            {{end}}
            <label for="new_password">New Password:</label>
            <input type="password" name="new_password" id="new_password">
        </div>
        <div>
            {{with .Form.FieldErrors.confirm_password}}
                <label class="error">{{.}}</label>
            {{end}}
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" name="confirm_password" id="confirm_password">
        </div>
        <div>
            <input type="submit" value="Change Password">
        </div>
    </form>
{{end}}