{{- /*gotype: github.com/Jackob2004/snippetbox/cmd/web.templateData*/ -}}
{{define "title"}}Your Snippets{{end}}

{{define "main"}}
    <h2>Your Snippets</h2>
    {{if .Snippets}}
        <table>
            <tr>
                <th>Title</th>
                <th>Created</th>
                <th>ID</th>
                <th>Actions</th>
            </tr>
        {{range .Snippets}}
            <tr>
                <td><a href="/snippet/view/{{.ID}}">{{.Title}}</a></td>
                <td>{{humanDate .Created}}</td>
                <td>#{{.ID}}</td>
                <td>
                    <a href="/snippet/edit/{{.ID}}" class="edit">Edit</a>
                    <form action='/snippet/delete/{{.ID}}' method='POST'>
                        <input type='hidden' name='csrf_token' value='{{$.CSRFToken}}'>
                        <button class="delete">Delete</button>
                    </form>
                </td>
            </tr>
        {{end}}
        </table>
    {{else}}
        <p>You don't have any snippets...</p>
    {{end}}
{{end}}