{{- /*gotype: github.com/Jackob2004/snippetbox/cmd/web.templateData*/ -}}
{{define "title"}}Snippet #{{.Snippet.Title}} {{end}}

{{define "main"}}
    <div class="snippet">
        {{with .Snippet}}
        <div class="metadata">
            <strong>{{.Title}}</strong>
            <span>#{{.ID}}</span>
        </div>
        <pre><code>{{.Content}}</code></pre>
        <div class="metadata">
            {{if $.IsAuthenticated}}
                <p>Creator: {{creatorName $.User.ID .Creator}}</p>
            {{else}}
                <p>Creator: ?</p>
            {{end}}
            <time>Created: {{humanDate .Created}}</time>
            <time>Expires: {{humanDate .Expires}}</time>
        </div>
        {{end}}
    </div>
{{end}}